# Generate bcrypt entries with: htpasswd -nB username
# password: password
username:$2y$05$4MDXTHOjtx8aCJ0k.Y/5leTGaeV.ffFF8jCeeA69BeQ.BvcTZZy06
# password: other_password
other_username:$2y$05$ALGmNcEd4nP1.Zq2D7CtHO1cLL01Xxyj6oxDZ5jAVxd5k5dZKS5XO
